<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee">
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
    <welcome-file>homePage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.cropcart.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.cropcart.controller.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Articles</display-name>
    <servlet-name>Articles</servlet-name>
    <servlet-class>com.cropcart.controller.Articles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Articles</servlet-name>
    <url-pattern>/Articles</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddArticles</servlet-name>
    <servlet-class>com.cropcart.controller.AddArticles</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>AddArticles</servlet-name>
    <url-pattern>/AddArticles</url-pattern>
</servlet-mapping>

</web-app>